@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

.plasma-blob {
    width: 340px;
    height: 340px;
    background-color: #B9CFFE;
    animation: morph 12s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}